{% load static %}

<style>
    li a.nav-link{
        color:white;
    }

    li a.nav-link.hover{
        color:yellow;
    }

    .nav-link{
        font-size: 30px;
    }
</style>
   

<div class="jumbotron  bg-dark"> 

    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #212529;">    
        <div class="container">   
            <a class="navbar-brand" style="text-align: center;" href="https://margraphics.com.br/" target="_blank">
                <img src="{% static 'images/logoatualizada/sem fundo.png' %}" alt="" width='150' >
                <img src="{% static 'images/joinvia/sem fundo.png' %}" alt="" width='100' >
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/admin/">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'form_modelForm' %}">Orçar</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'listar_orcamentos' %}">Listar Orçamentos</a>
                    </li>
                </ul>
               
            </div>  
            <div class="navbar-text d-flex gap-3 ms-auto">
                <span class="badge bg-primary">
                    Total: {{ total_geral }}
                </span>
                <span class="badge bg-success">
                    Hoje: {{ total_hoje }}
                </span>
                <span class="badge bg-warning text-dark">Semana Passada (2ª-Sáb): {{ total_semana_passada }}</span>
            </div> 
            
            <a class="nav-link" href="{% static  'arquivos\\info_orcamento\\info_iniciais.txt' %}" target="_blank">Info</a>     
        </div>         
    </nav>  

    <div style="color:#FFC107; display: flex; justify-content: center;">
        <h4>Premissas Senhor Caixa:</h4>    
    </div>
    
</div>                             
