{% load static %}

<style>
    li a.nav-link{
        color:white;
    }

    li a.nav-link.hover{
        color:yellow;
    }

    .nav-link{
        font-size: 30px;
    }
</style>
   
    <div class="jumbotron  bg-dark" style="margin-bottom: 0; padding: 1rem 1rem;text-align: center; color: #FFC107;"> 
        <div class="container" style="display: flex; justify-content: center;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'appOEE:home' %}">PackMetric</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav mr-auto me-auto"> <li class="nav-item">
                            <a class="nav-link" href="{% url 'form_modelForm' %}">Orçar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listar_orcamentos' %}">List_Orçam</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'memoria_calculo_view' %}">Mem.Cálculo</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'appFrete:calcular_frete_view' %}">Calcular Frete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'appFrete:lista_fretes' %}">Lista Fretes</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOEE" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Métricas OEE
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownOEE">
                                <a class="dropdown-item" href="{% url 'appOEE:dashboard_roce' %}">📈 Dashboard ROCE</a>
                                <div class="dropdown-divider"></div>
                                
                                <h6 class="dropdown-header">Operações</h6>
                                <a class="dropdown-item" href="{% url 'appOEE:cadastra_ocorrencia' %}">📝 Registrar Ocorrência</a>
                                <a class="dropdown-item" href="{% url 'appOEE:relatorio_ocorrencias' %}">📋 Listar Ocorrências</a>
                                <div class="dropdown-divider"></div>

                                <h6 class="dropdown-header">Análises</h6>
                                <a class="dropdown-item" href="{% url 'appOEE:oee_maquina' %}">🖥️ OEE por Máquina</a>
                                <a class="dropdown-item" href="{% url 'appOEE:resumo_paralisacoes' %}">⚠️ Resumo de Paralisações</a>
                                <a class="dropdown-item" href="{% url 'appOEE:detalhe_paralisacoes' %}">💰 Análise Financeira</a>
                                <div class="dropdown-divider"></div>

                                <h6 class="dropdown-header">Estratégico</h6>
                                <a class="dropdown-item" href="{% url 'appOEE:simulador' %}">🎛️ Simulador de Cenários</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'appOEE:apresentacao' %}">OEE_diagr</a>
                            </div>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownQuali" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestão da Qualidade
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownQuali">
                                <!-- <a class="dropdown-item" href="{% url 'appQuali:home' %}">📊 Painel de Indicadores</a> -->
                                <a class="dropdown-item" href="#">Painel de Indicadores</a>
                                <div class="dropdown-divider"></div>
                                
                                <h6 class="dropdown-header">Reclamações</h6>
                                <a class="dropdown-item" href="{% url 'appQuali:reclam_cliente' %}">📥 Registrar Reclamação</a>
                                <a class="dropdown-item" href="#" id="abre_modal_reclamantes">📊  Maiores Reclam</a>
                                <a class="dropdown-item" href="{% url 'appQuali:reclamacoes_list' %}">🗂️ Histórico / Anexos</a>
                                
                            </div>
                        </li>

                    </ul>

                    <ul class="navbar-nav ml-auto ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/" target="_blank">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}" style="color: #ff4d4d; font-weight: bold;">Sair</a>
                        </li>
                    </ul><br>
                     <p><h6><span class="navbar-text" id="ult_reg"></span></h6></p>
                </div>
            </nav> 
            
            <!-- Modal modal -->
            <!-- data-bs-backdrop="static" (retirado linha abaixo): nesta condição pode-se o modal com  um click fora do mesmo -->
            <!-- data-bs-keyboard="true" (venha linha abaixo) : click ESC para fechar o modal -->
            <div class="modal fade" id="modal_reclamantes" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <div class="modal-title" id="staticBackdropLabel;"><h3>Maiores Reclamantes</h3></div>                  
                            <button type="button" class="btn-close buttonModal" data-bs-dismiss="modal" aria-label="Close" ></button>
                        </div>                
                        <div class="modal-body" id = "maiores_reclamantes_modal">                    
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal modal -->
            <!-- data-bs-backdrop="static" (retirado linha abaixo): nesta condição pode-se o modal com  um click fora do mesmo -->
            <!-- data-bs-keyboard="true" (venha linha abaixo) : click ESC para fechar o modal -->
            <div class="modal fade" id="modal_semanAno" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <div class="modal-title" id="staticBackdropLabel;"><h3>Pesquisa Semana Ano</h3></div>                  
                            <button type="button" class="btn-close buttonModal" data-bs-dismiss="modal" aria-label="Close" ></button>
                        </div>        
                        <div class="modal-body" id = "recebe_semanAno_modelForm">

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>    