body {
    font-family: sans-serif;
    margin: 40px;
    color: #333;

    background-image: url("../images/background-full (1).png");
    background-size: cover;
    /* cobre toda a tela */
    background-repeat: no-repeat;
    /* não repete */
    background-position: center;
    /* centraliza */
    background-attachment: fixed;
    /* efeito "parallax" leve */
}

.grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: bold;
}

.direita{
    text-align: right;
}

.centralizado{
    text-align: center  ;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Inicio estilos para a tabela de orçamento */
.tabela-composicao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-family: sans-serif;
}

.tabela-composicao td {
    padding: 8px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}

div .header-secao,
tr.header-secao td,
.linha-final-custo td,
.linha-final-venda td {
    font-size: 20px;
    font-weight: bold;
    /* color: #3c3333; */
    color: #3d1b9b;
    line-height: normal;
    vertical-align: middle;
}

td.col-valor {
    text-align: right;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
}

.tabela-composicao td {
    padding: 8px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
}

.linha-subtotal {
    background-color: #fafafa;
    color: #555;
}

.linha-final-com-margem {
    background-color: #3c3333;
    color: white;
    font-size: 15px;
}

.obs-margem {
    margin-top: 12px;
    font-size: 11px;
    color: #666;
    font-style: italic;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
}

tr.header-secao td {
    font-size: 14px;
}

/* .linha {
    font-size: 18px;
} */
/* Fim estilos para a tabela de orçamento */

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

input[type="submit"] {
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
